[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-widget-tweaks = "*"
requests = "*"
psycopg2 = "*"
gunicorn = "*"
django = "==4.1.10"
social-auth-app-django = "*"
psycopg2-binary = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
python-social-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
